body{
	background: gainsboro;
}

#table_create  table{
	width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: skyblue;
}

#table_create input {
	text-align:center;
}

div.data_table {
    width:22%;
	padding-left:39%;
}

.rad {
	border-radius:5px 5px 5px 5px;
}