<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>CourseServlet</servlet-name>
  	<display-name>CourseServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<display-name>StudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LecturerServlet</servlet-name>
  	<display-name>LecturerServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.LecturerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LectionServlet</servlet-name>
  	<display-name>LectionServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.LectionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LecturerSetServlet</servlet-name>
  	<display-name>LecturerSetServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.LecturerSetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LectionAddServlet</servlet-name>
  	<display-name>LectionAddServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.LectionAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAddServlet</servlet-name>
  	<display-name>StudentAddServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.StudentAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseEditServlet</servlet-name>
  	<display-name>CourseEditServlet</display-name>
  	<description></description>
  	<servlet-class>com.training.danco.servlet.CourseEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CourseServlet</servlet-name>
  	<url-pattern>/Course</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LecturerServlet</servlet-name>
  	<url-pattern>/Lecturer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LectionServlet</servlet-name>
  	<url-pattern>/Lection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LecturerSetServlet</servlet-name>
  	<url-pattern>/SetLecturer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LectionAddServlet</servlet-name>
  	<url-pattern>/AddLection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAddServlet</servlet-name>
  	<url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseEditServlet</servlet-name>
  	<url-pattern>/EditCourse</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>
		<welcome-file>/course/course.jsp</welcome-file>
	</welcome-file-list>
</web-app>
